.home-title{
    text-align: center;
    font-weight: bold;
    align-items: center;
    margin: 20px 80px;
    background-color: bisque;
    padding: 20px ;
}
.home h3{
    margin: 40px;
}

.cards{
    display:grid;
    grid-template-columns: repeat(3,0fr);
    gap: 5px;
    margin: 40px;
    
}
.card-individual{
    border: 2px solid green;
    
}

.banner-section{
    margin: 80px;
}
.service-section{
    margin: 80px;
}

.footer-section{
    background-color: gray;
    height: 200px;
}
.footer-text{
    text-align: center;
}